<!-- Favorite pokemon will appear on this page -->
<div class="favorites">
<h2> Favorite Pokemon</h2>
<% pokemon.forEach(function(p) { %>
      <a href= "/pokemon/<%= p.name %> "><h4><%= p.name %></h4> </a>

      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= p.name %>">
      </form>

      <!-- delete button is not working -->
      <form method="POST" action="/pokemon?_method=DELETE"">
        <button class="btn btn-primary" type="submit">Remove from list</button>
      </form>

  <% }); %>
</div>

