<!-- Favorite pokemon will appear on this page -->
<h2> Favorite Pokemon</h2>
<% pokemon.forEach(function(pokemon) { %>
    <div class="well">
      <h2><%= pokemon.name %></h2>

      <form method="POST" action="/pokemon">
        <input hidden type="text" name="name" value="<%= pokemon.name %>">
      </form>
    </div>
  <% }); %>
</div>
