<div class="showPage">

<img src="<%= pokedata.sprites.front_default %> " alt = "pokemon">

<div class="pokeDetails">
<strong>Height:</strong> <%= pokedata.height %>
<br>
<br>

<strong>Some Abilities:</strong>
<br>
 <%= pokedata.abilities[0].ability.name %>
 <br>
 <%= pokedata.abilities[1].ability.name %>

 <br>
 <br>

</div>
</div>
 




