body {
    background-image: url("https://wallpaperaccess.com/full/174922.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
    text-align: center;
    padding: 10px;
}

.pokeDetails {
    background-color: white;
    overflow-y: scroll;
    height: 310px;  
}

a {
    color: black;
}

a:hover {
    color: teal;
}

#button:hover {
    background-color: black;
    color: white;
    border: black 2px solid;
    transition: ease-out;
}

.createdBy {
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #4EB6AC;
    padding: 5px;
}

.favorites {
    background-color: white;
    width: 40%;
    margin: 0 auto;
    opacity: 0.8;
    overflow-y: scroll;
    height: 650px;
}

.container {
    background-color: white;
    width: 60%;
    margin: 0 auto;
    opacity: 0.8;
    color: black;
    overflow-y: scroll;
    height: 650px;
}

.showPage {
    background-color: black;
    padding: 20px;
    width: 40%;
    margin: 10px auto;
    font-size: 20px;
    opacity: 0.8;
}

img {
    width: 150px;
}

.pokeNameDetails {
    color: white;
}

.errorPage {
    background-image:url("https://archive-media-1.nyafuu.org/vp/image/1468/39/1468394205822.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
}

.errorPageDetails {
    background-color: white;
    color: black;
    padding: 10px;
}